<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>首页</title>
</head>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
        background-color: cornsilk;
    }
</style>
<body>
<p>欢迎您，<span th:text="${userName}"></span></p>


</body>
</html>