<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"/>
<html lang="en" xmlns:th="http://www.thymeleaf.org"/>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <META HTTP-EQUIV="pragma" CONTENT="no-cache"/>
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate"/>
    <META HTTP-EQUIV="expires" CONTENT="0"/>
    <script type="text/javascript" src="/Scripts/webj.js"></script>
    <link rel="stylesheet" type="text/css" href="webcss.css"/>
    <title>登录账号</title>
    <style type="text/css">
        .nodiss
        {
            display: none;
        }
        img
        {
            max-width: 100%;
        }
        p
        {
            margin:10px 5px 5px 5px; 
            }
            
            .usr{
   width:212px;height:33px;background-repeat:no-repeat; border:0px; padding-left:10px; line-height:33px;
}
.pwd{
width:212px;height:33px;background-repeat:no-repeat; border:0px; padding-left:10px; line-height:33px;

}

.btn
{
height:38px; line-height:38px; background-image:url('http://47.103.98.92/image/jpg000001.jpg');background-repeat:repeat-x; border:0px;  	
  font-family:微软雅黑; color:white;font-weight:bold;  width:90%;
}
.txt
{border: 1px solid #d0d0d0;   width:180px; height:30px; line-height:30px;
    }
    .btnx
    {
        height:38px; line-height:38px; border: 1px solid #d0d0d0;  background-color:#3c85a7; color:White;width:90%;border-radius: 10px; cursor:pointer
        }
    </style>
</head>
<body style="background-image:url('http://47.103.98.92/image/jpg000003.jpg');">
    <form method="post" action="/basic/user/doLogin" id="form1">
<div class="aspNetHidden">
</div>

<div class="aspNetHidden">

</div>
    <div style="width: 260px; margin: 0 auto 0 auto; background-color: White; border-radius: 10px; padding-bottom:10px;
        text-align: center; margin-top: 20px;">
        
            <p><img src="http://47.103.98.92/image/jpg000002.jpg" /></p>
            <p>帐号：<input name="uid" type="text" id="uid" class="txt" /></p>
            <p style="margin: 0px;color: red;"><span th:text="${error}"></span></p>
            <p>密码：<input name="pwd" type="password" id="pwd" class="txt" /></p>
            <p><input type="submit" name="Button1" value="登录" id="Button1" class="btnx" /></p >
            <p style=" margin-bottom:10px; font-size:0.8em; color:#d5d5d5" >祝您工作顺心，生活幸福</p>
             <p style=" margin-bottom:10px; text-align:left;font-size:0.8em; color:blue" >没有账号？请<a href="/basic/html/regist">注册</a></p>
    </div>
    
    <div style="float: left; width: 222px; margin-top: 300px; display: none">
        
        <div class="dlk">
            
            <span id="sj" class="nodiss">Label</span>
            <span class="fxk" style="color:#FF3300;margin-left: 140px;
                display: none"><input id="modpwd" type="checkbox" name="modpwd" /><label for="modpwd">修改密码</label></span></div>
    </div>
    </form>
</body>
</html>